<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Agiles2020</title>
    <link rel="stylesheet" href="static/css/estilo-ahoracado.css">
  </head>
  <body>
      <div class="main-container">

        <h1 class="titulo">Bienvenido al Juego del ahorcado</h1>
        <div id="resultado">
          {% if juego.resultado == "ganador":%}
            <h2 class="titulo1" id="ganador">Felicitaciones ganaste!!</h2>
          {%elif juego.resultado == "perdedor"%}
            <h2 class="titulo2" id="perdedor">Perdiste!!</h2>
          {%endif%}
        </div>
		<br>
        <h1 id="msg-final"></h1>
        <h3 id="acierto"></h3>
        <div class="flex-row no-wrap">
          <h2 class="palabra" id="palabra">{{" ".join(juego.palabra_usuario)}}</h2>
          
          <picture>
            {%if juego.intentos>=0 %}
              <img src="{{'static/img/ahorcado_{}.png'.format(juego.intentos)}}" alt="" id="{{'image{}'.format(juego.intentos)}}">
            {%else%}
              <img src="static/img/ahorcado_0.png" alt="" id="image0">
            {%endif%}
          </picture>
        </div>
        <div class="botones" id="turnos">
          <div class="col">
            <h3>Intentos restantes: <span id="intentos">{%if juego.intentos>=0 %}{{juego.intentos}}{%else%}0{%endif%}</span></h3>
          </div>
          <div class="col1">
            {%if juego.resultado != "":%}
              <a class="boton_personalizado" href="/" id="reset">Volver a jugar</a>
            {%endif%}
           
          </div>
          </div>
      {%if juego.resultado == "":%}

          <div class="flex-row">
            <div class="col2">
              <div class="flex-row" id="abcdario">
                
                {%for letra in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','Ñ','O','P','Q','R','S','T','U','V','W','X','Y','Z']:%}
                  {%if letra in juego.letras: %}
                    <a class="boton_personalizado1"value="{{letra}}" href="/{{letra}}" class="letra" disable="True" id="{{letra}}">{{letra}}</a>
                  {%else:%}
                  <a class="boton_personalizado1"value="{{letra}}" href="/{{letra}}" class="letra" id="{{letra}}">{{letra}}</a>
                  {%endif%}
                {%endfor%}
        <!--<a class="boton_personalizado1"value="A" href="/A" class="letra" id="A">A</a>
        <a class="boton_personalizado1"value="B" href="/B" class="letra" id="B">B</a>
        <a class="boton_personalizado1"value="C" href="/C" class="letra" id="C">C</a>
        <a class="boton_personalizado1"value="D" href="/D" class="letra" id="D">D</a>
        <a class="boton_personalizado1"value="E" href="/E" class="letra" id="E">E</a>
        <a class="boton_personalizado1"value="F" href="/F" class="letra" id="F">F</a>
        <a class="boton_personalizado1"value="G" href="/G" class="letra" id="G">G</a>
        <a class="boton_personalizado1"value="H" href="/H" class="letra" id="H">H</a>
        <a class="boton_personalizado1"value="I" href="/I" class="letra" id="I">I</a>
        <a class="boton_personalizado1"value="J" href="/J" class="letra" id="J">J</a>
        <a class="boton_personalizado1"value="K" href="/K" class="letra" id="K">K</a>
        <a class="boton_personalizado1"value="L" href="/L" class="letra" id="L">L</a>
        <a class="boton_personalizado1"value="M" href="/M" class="letra" id="M">M</a>
        <a class="boton_personalizado1"value="N" href="/N" class="letra" id="N">N</a>
        <a class="boton_personalizado1"value="Ñ" href="/Ñ" class="letra" id="N">Ñ</a>
        <a class="boton_personalizado1"value="O" href="/O" class="letra" id="O">O</a>
        <a class="boton_personalizado1"value="P" href="/P" class="letra" id="P">P</a>
        <a class="boton_personalizado1"value="Q" href="/Q" class="letra" id="Q">Q</a>
        <a class="boton_personalizado1"value="R" href="/R" class="letra" id="R">R</a>
        <a class="boton_personalizado1"value="S" href="/S" class="letra" id="S">S</a>
        <a class="boton_personalizado1"value="T" href="/T" class="letra" id="T">T</a>
        <a class="boton_personalizado1"value="U" href="/U" class="letra" id="U">U</a>
        <a class="boton_personalizado1"value="V" href="/V" class="letra" id="V">V</a>
        <a class="boton_personalizado1"value="W" href="/W" class="letra" id="W">W</a>
        <a class="boton_personalizado1"value="X" href="/X" class="letra" id="X">X</a>
        <a class="boton_personalizado1"value="Y" href="/Y" class="letra" id="Y">Y</a>
        <a class="boton_personalizado1"value="Z" href="/Z" class="letra" id="Z">Z</a>-->
        </div>
      {%endif%}
            </div>
          </div>
          <div class="col"></div>
        </div>
		 <script src="static/js/ahorcado.js"></script>
      </div>
  </body>
</html>