<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ahorcado</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="static/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
</head>
<body>
    <header class="navbar">
        <h2><a href="/">Ahorcado</a></h2>
        <ul class="menu">
            <li><a href="/comojugar">Cómo Jugar</a></li>
            <li><a href="/ranking">Ranking</a></li>
        </ul>
    </header>
    {%block content%}
    {%endblock%}
    <footer>
        <p>Agiles 2020</p>
        <p>Damian Lacomba - Juan Ignacio Pullaro</p>
    </footer>
</body>
</html>